# This is an example of a .env file for configuration.
# Copy this file to .env and fill in the values.
# Database configuration
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

# Supabase configuration
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_REDIRECT_URL=

# Secret keys
# Secret key for encrypting the api keys in the db
SECRET_AES_KEY=
# Djangos secret key for generating csrf tokens, and other django related encryption operations
SECRET_DJANGO_KEY=
# Debug mode, false in production
DEBUG=False
# CORS configuration and allowed hosts
CORS_ORIGIN_WHITELIST=http://localhost:3000,http://localhost:3001,https://example.com
ALLOWED_HOSTS=localhost,127.0.0.1

# Redis config
REDIS_HOST=host.docker.internal
REDIS_PASSWORD=