.env
.env.*
*.pem
*.key
__pycache__
*.pyc
.git
.gitignore
venv/
.venv/
node_modules
.pnpm-store
dist
build
!.env.example
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.idea
.DS_Store
Thumbs.db
Dockerfile*
docker-compose*
coverage
.nyc_output
*.md